<script>
	function closePaypalWindow() {
		if (window.opener){ 
			window.close(); 
		} 
		else if(top.dgFlow.isOpen() == true){ 
			top.dgFlow.closeFlow(); 
		}
	}
</script>

<div style="background:#FFF">
	<div>This window needs a Design</div>
	<div>Transaction Failed</div>
	<br/>	
	<div>
		<%= @result.response["L_LONGMESSAGE0"].first %>
	</div>

	<div>
		<a href="#" onclick="closePaypalWindow()">Close Window</a>
		<a href="/download_song">Link to download Song</a>
	</div>
</div>